---
import Layout from "../layouts/Layout.astro";
import "@/styles/globals.css";
import { NavigationMenuDemo } from "@/components/Nav";
import { Image } from "astro:assets";
import Inicio from "@/components/Inicio.astro";
import Contato from "@/components/Contato.astro";
import Propostas from "@/components/Propostas.astro";
import Galeria from "@/components/Galeria.astro";
import Compromisso from "@/components/Compromisso.astro";
---

<Layout title="Valdir Moreira Pré Candidato Vereador.">
	<div class="flex flex-col justify-center items-center">
		<div
			class="lg:w-1/2 lg:self-end flex flex-col items-center justify-center gap-2 h-full relative bg-fit bg-fixed bg-auto bg-top"
			style="background-image: url(guarulhos.png);"
		>
			<div class="fixed z-40 top-0" style="display: fixed;">
				<NavigationMenuDemo client:load />
			</div>
			<Image
				src="/Foto.png"
				alt="A bird."
				width="200"
				height="200"
				class="z-10 w-fit mt-16"
			/>
			<div
				class="w-full h-full z-20 bg-gradient-to-t from-slate-900/70 via-transparent via-30% to-transparent absolute"
			>
			</div>
			<Image
				src="/text2.png"
				alt="A bird."
				width="200"
				height="50"
				class="z-30 absolute bottom-6 w-1/2"
			/>
		</div>

		<div class="lg:flex-wrap lg:flex-row lg:flex">
			<Inicio class="" />
			<Propostas />
			<Galeria />
			<Compromisso />
			<Contato />
		</div>
	</div>
</Layout>
