---
import { Facebook, HeartHandshake, Instagram, Phone } from "lucide-react";
import {
    Card,
    CardContent,
    CardDescription,
    CardHeader,
    CardTitle,
} from "./ui/card";
import { Button } from "./ui/button";
import { ImageCarrossel } from "./ImageCarrossel";
import { Separator } from "./ui/separator";
---

<div
    id="apoio"
    class="w-full lg:rounded-none bg-gradient-to-tl from-white to-white p-12 relative overflow-hidden
    flex flex-col gap-4 flex-wrap lg:flex-row lg:gap-0"
>
    <div class="absolute top-2 right-[-2rem] rotate-[-20deg] text-blue-500">
        <HeartHandshake width={100} height={100} />
    </div>
    <div class="lg:w-1/2">
        <h2
            class="scroll-m-20 text-4xl font-extrabold tracking-tight lg:text-5xl text-blue-500"
        >
            Apoio
        </h2>
        <p>
            Seu apoio é fundamental para construirmos uma Guarulhos melhor.
            Junte-se a nós nessa jornada de transformação e faça parte dessa
            mudança. Vamos juntos fazer a diferença!
        </p>
        <ImageCarrossel client:load />
    </div>
    <div class="lg:w-1/2 lg:p-8">
        <Card>
            <CardHeader className="items-center">
                <CardTitle className="text-green-500">WhatsApp</CardTitle>
                <CardDescription>Fale diretamente comigo.</CardDescription>
            </CardHeader>
            <CardContent>
                <a href="https://wa.me/5511940110229">
                    <Button
                        variant="outline"
                        className="flex flex-row justify-center items-center w-full"
                        ><Phone
                            className="mr-2 h-6 w-6 text-green-500"
                        />Mensagem</Button
                    ></a
                >
            </CardContent>
        </Card>
        <Card>
            <CardHeader className="items-center">
                <CardTitle className="text-blue-500">Facebook</CardTitle>
                <CardDescription>Nos siga nas redes sociais.</CardDescription>
            </CardHeader>
            <CardContent>
                <a
                    href="https://www.facebook.com/valdir.moreira.792?mibextid=kFxxJD"
                >
                    <Button
                        variant="outline"
                        className="flex flex-row justify-center items-center w-full"
                        ><Facebook
                            className="mr-2 h-6 w-6 text-blue-500"
                        />Entrar</Button
                    ></a
                >
            </CardContent>
        </Card>
        <Card>
            <CardHeader className="items-center">
                <CardTitle className="text-fuchsia-500">Instagram</CardTitle>
                <CardDescription>Nos siga nas redes sociais.</CardDescription>
            </CardHeader>
            <CardContent>
                <a href="https://www.instagram.com/valdirmoreira.23/">
                    <Button
                        variant="outline"
                        className="flex flex-row justify-center items-center w-full"
                        ><Instagram
                            className="mr-2 h-6 w-6 text-fuchsia-500"
                        />Conheça</Button
                    ></a
                >
            </CardContent>
        </Card>
    </div>

    <h3 class="lg:p-16 lg:text-center lg:w-full">Junte-se a nós para transformar Guarulhos!</h3>

    <br />
    <Separator />

    <br />
    <h3 class="text-lg w-full text-center text-slate-900 opacity-50">
        #valdirmoreira - #Cidadania23
    </h3>
    <br />
</div>
