---
import { Handshake } from "lucide-react";
---

<div id="compromissos" class="text-white p-12 flex-col flex gap-4 relative lg:w-1/2">
    <h2
        class="scroll-m-20 text-4xl font-extrabold tracking-tight lg:text-5xl text-transparent font-ot-white font-outline-2"
    >
        Compromisso e Valores
    </h2>
    <br />
    <div class="absolute top-60 lg:top-32 left-[-1rem]">
        <Handshake width={100} height={100}/>
    </div>

    <p class="pl-14 text-right">
        Nosso compromisso é com uma Guarulhos mais justa e próspera. Valorizamos
        a transparência, integridade e o respeito à comunidade. Trabalhamos
        incansavelmente para priorizar o bem-estar de todos, promovendo
        iniciativas que gerem impacto positivo e duradouro.
    </p>

    <p>
        Acreditamos na força da união e na importância de ouvir cada cidadão.
        Nossos valores refletem o desejo de construir uma cidade onde todos
        tenham oportunidades iguais e uma qualidade de vida melhor. Junte-se a
        nós nessa missão de transformar Guarulhos.
    </p>
</div>
