---
import { Carrossel } from "@/components/Carrosel";
---

<div class="flex flex-col justify-center items-center p-12 text-white gap-4 bg-gradient-to-tl from-fuchsia-400 to-pink-400 rounded-lg">
    <h2
        class="self-left scroll-m-20 text-4xl font-extrabold tracking-tight lg:text-5xl text-white"
    >
        Galeria
    </h2>
    <div class="text-justify">
        Bem-vindo à nossa Galeria de Imagens! Aqui, você encontrará registros
        visuais dos momentos mais marcantes da nossa trajetória, eventos
        importantes, e atividades comunitárias.
    </div>

   <script
        src="https://fast.wistia.com/assets/external/E-v1.js"
        async></script>

    <Carrossel client:only />
</div>
