---
interface Props {
	title: string;
}
import "@/styles/globals.css";
const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Venha com a gente mudar Guarulhos pra melhor!" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body
		class="gap-2"
		style="background: linear-gradient(160deg, #2cdaae, #2cd4da); min-height: 100vh;"
	>
		<slot />
	</body>
</html>
